<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>online_storm_platform_web</display-name>
  <servlet>
    <description></description>
    <display-name>AreaServlet</display-name>
    <servlet-name>AreaServlet</servlet-name>
    <servlet-class>com.zkh.servlet.AreaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AreaServlet</servlet-name>
    <url-pattern>/AreaServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>uvServlet</display-name>
    <servlet-name>uvServlet</servlet-name>
    <servlet-class>com.zkh.servlet.UvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uvServlet</servlet-name>
    <url-pattern>/uvServlet</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>